$white     : #F6F8FC;
$darkWhite : #f5f5f5;
$pureWhite : #fff;
$pureBlack : #000;
$black     : #333;
$lightBlack: #555;
$darkBlack : #232322;
$gray      : #5F6368;
$beige     : #f9f8f3;
$lightGray : #E2E8F0;
$darkGray  : #999;
$red       : #f55c5c;
$blue      : #0B57D0;
$mainBlue  : #757fae;
$lightGreen: #94b584;
$darkGreen : #354814;
$mainGreen : #059669;

$mainColor     : $blue;
$baseColor     : $white;
$accentColor   : $blue;
$secondaryColor: $blue;
$alertColor    : $red;
$inactiveColor : $gray;